@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1> Olá Livs </h1>

    @if(TempData["Erro"]  !=null) 
    {
        <div class="alert alert-danger" >
            @TempData["Erro"]
        </div>
    } 

</div>
